.App {
  text-align: center;
}

.table_wrapper{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.search-box {
  width: 400px;
  position: relative;
  display: flex;
	bottom: 0;
	left: 0;
	right: 0;
}

.search-input {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 12px 45px 12px 12px;
  background-color: #eaeaeb;
  color: #6c6c6c;
  border-radius: 6px;
  border:none;
  outline: none;
  transition: all .4s;
}

.search-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  margin-left:-45px;
  border:none;
  color: #6c6c6c;
  transition: all .4s;
  z-index: 10;
}

.search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

.search-btn:focus {
  outline:none;
  color:black;
}